body, html {
    margin: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}
#container {
    width: 100%;
    height: 100%;
}
#info {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}
